<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- Version 8 MySQL hiberante-cfg.xml example for Hibernate 6 -->		
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ntdb1?useSSL=false</property>
        <property name="hibernate.connection.username">user1</property>
        <property name="hibernate.connection.password">P@ssword1</property>
    	<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <!-- property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property -->
        <property name="connection.pool_size">3</property>
    	<property name="current_session_context_class">thread</property>
    	<property name="show_sql">true</property>
    	<property name="format_sql">true</property>
    	<property name="hbm2ddl.auto">update</property>
    	<!-- mapping class="com.mcnz.jpa.examples.Player" / -->
    </session-factory>
</hibernate-configuration>
